<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
<servlet>
  <servlet-name>TimeRateDataDateServlet</servlet-name>
  <servlet-class>main.java.servlet.TimeRateDataDateServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>TimeRateDataDateServlet</servlet-name>
    <url-pattern>/TimeRateDataDateServlet.do</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>CityRateDataDateServlet</servlet-name>
    <servlet-class>main.java.servlet.CityRateDataDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CityRateDataDateServlet</servlet-name>
    <url-pattern>/CityRateDataDateServlet.do</url-pattern>
  </servlet-mapping>
</web-app>
