#querydiv {
  margin: 0;
  padding: 0;
  background: #1b1e2a;
  height: 815px;
}

#querydiv div {
  text-align: center;
  position: relative;
  top: 300px;
}

#querydiv h1 {
  letter-spacing: 1px;
  text-align: center;
  font-size: 30px;
  color: #FFF;
  margin-top: 0;
  position: relative;
  top: 0;
}

#querydiv hr {
  width: 50%;
}

#querydiv div p {
  letter-spacing: 1px;
  font-size: 30px;
  color: #FFF;
  margin: 0;
}

#querydiv div form {
  margin-top:50px;
  margin-left: 30px;

}

#date1 {
  width: 200px;
  line-height: 40px;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  background: #2e3141;
  color: #FFF;
  text-align: center;
}

#date2 {
  width: 200px;
  line-height: 40px;
  font-size: 20px;
  border: 0;
  border-radius: 10px;
  background: #2e3141;
  color: #FFF;
  text-align: center;
}

#querybutton {
  width: 100px;
  height: 45px;
  margin-left: 50px;
  background: #2e3141;
  color: #FFF;
  border: 0;
  border-radius: 10px;
  font-size: 15px;
}
