body {
  margin: 0;
  padding: 0;
}

nav {
  background: #2e3141;
  height:60px;
  width: 100%;
  position: fixed;
  z-index: 100;
  opacity: 0.6;
}

nav ul {
  list-style: none;
  margin: 0;
}

nav ul li {
  display: inline-block;
  float: right;
  margin-right: 70px;
}

nav ul li a {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  width: 100px;
  line-height: 40px;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 1px;
  font-size: 20px;
  color: #FFF;
  -webkit-transition: color 3s;
  -webkit-transition: background 1s;
}

nav ul li.logo {
  float: left;
  font-size: 20px;
  letter-spacing: 1px;
}

nav ul li.logo a {
  text-align: center;
  color: #FFF;
  width: 200px;
}

nav a:hover, .logo a:hover {
  background: #FFF;
  color: #000;
}

#newMenu {
  background: #323142;
  z-index: 100;
  border-radius: 40px;
  opacity: 0.8;
}

#newMenu div {
  z-index: 99;
  opacity: .5;
}

#newMenu h2 {
  color: #FFF;
  font-size: 30px;
  text-align: center;
}

#newMenu hr {
  width: 70%;
}

#newMenu ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

#newMenu ul li a {
  display: block;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 10px;
  text-decoration: none;
  line-height: 50px;
  font-size: 20px;
  color: #FFF;
  text-align: center;
  letter-spacing: 1px;
  z-index: 100;
  border-radius: 20px;
  -webkit-transition: background 0.5s;
}

#newMenu ul li a:hover {
  background: #000;
  color: #FFF;
}

